.img-slideshow {
    object-fit: cover;
    animation: zoomIn 8s ease;
    height: 100vh;
    width: 100vw;
}

.slideshow-container {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
}

@keyframes zoomIn {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

.slideshow-overlay {
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;

    align-items: center;

    p {
        max-width: 600px;
        color: white;
        font-size: 80px;
        border-left: 8px solid rgb(195, 41, 41);
        padding-left: 20px;
        margin-left: 120px;
        margin-right: 120px;
    }
}

.fadeIn {
    animation: fadeInAnimation 1.25s ease-in-out;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: scaleY(20px);
    }
}